# Copy this file as .env and set values as needed

# Local path for downloaded HF models
MODELS_PATH=

# Port for the demo web application
WEB_APP_PORT=8080

# OpenAI key for the demo agents
OPENAI_API_KEY=

# AMQP settings
AMQP_HOST=rabbitmq
AMQP_PORT=5672
AMQP_USERNAME=guest
AMQP_PASSWORD=guest
AMQP_VHOST=/
